.scarlet-light-mode {--palette-gradiente-1: linear-gradient(106.01deg, #9061F9 33.8%, #BF61F9 102.3%);
--palette-gradiente-2: linear-gradient(75deg, #FFEEEE 0%, #FF1111 20%, #FF0000 40%, #FF8B8B 100%);
--palette-gradiente-3: linear-gradient(202.2deg, #9061F9 -49.7%, #3F3F46 64.6%);
--palette-gradiente-active_menu: linear-gradient(270deg, #7E3AF200 0%, #7E3AF200 100%);
--palette-gradiente-active_menu-copy: linear-gradient(270deg, #7E3AF200 0%, #7E3AF200 100%);
--palette-neutral-white: #FFFFFF;
--palette-neutral-black: #000000;
--palette-blue-50: #EBF5FF;
--palette-blue-100: #E1EFFE;
--palette-blue-200: #C3DDFD;
--palette-blue-300: #A4CAFE;
--palette-blue-400: #76A9FA;
--palette-blue-500: #3F83F8;
--palette-blue-600: #1C64F2;
--palette-blue-700: #1A56DB;
--palette-blue-800: #1E429F;
--palette-blue-900: #233876;
--palette-gray-50: #FAFAFA;
--palette-gray-100: #F4F4F5;
--palette-gray-200: #E4E4E7;
--palette-gray-300: #D4D4D8;
--palette-gray-400: #A1A1AA;
--palette-gray-500: #71717A;
--palette-gray-600: #52525B;
--palette-gray-700: #3F3F46;
--palette-gray-800: #27272A;
--palette-gray-900: #18181B;
--palette-green-50: #F3FAF7;
--palette-green-100: #DEF7EC;
--palette-green-200: #BCF0DA;
--palette-green-300: #84E1BC;
--palette-green-400: #31C48D;
--palette-green-500: #0E9F6E;
--palette-green-600: #057A55;
--palette-green-700: #046C4E;
--palette-green-800: #03543F;
--palette-green-900: #014737;
--palette-orange-50: #FFF8F1;
--palette-orange-100: #FEECDC;
--palette-orange-200: #FCD9BD;
--palette-orange-300: #FDBA8C;
--palette-orange-400: #FF8A4C;
--palette-orange-500: #FF5A1F;
--palette-orange-600: #D03801;
--palette-orange-700: #B43403;
--palette-orange-800: #8A2C0D;
--palette-orange-900: #771D1D;
--palette-pink-50: #FDF2F8;
--palette-pink-100: #FCE8F3;
--palette-pink-200: #FAD1E8;
--palette-pink-300: #F8B4D9;
--palette-pink-400: #F17EB8;
--palette-pink-500: #E74694;
--palette-pink-600: #D61F69;
--palette-pink-700: #BF125D;
--palette-pink-800: #99154B;
--palette-pink-900: #751A3D;
--palette-purple-50: #F6F5FF;
--palette-purple-100: #EDEBFE;
--palette-purple-200: #DCD7FE;
--palette-purple-300: #CABFFD;
--palette-purple-400: #AC94FA;
--palette-purple-500: #9061F9;
--palette-purple-600: #7E3AF2;
--palette-purple-700: #6C2BD9;
--palette-purple-800: #5521B5;
--palette-purple-900: #4A1D96;
--palette-red-50: #FDF2F2;
--palette-red-100: #FDE8E8;
--palette-red-200: #FBD5D5;
--palette-red-300: #F8B4B4;
--palette-red-400: #F98080;
--palette-red-500: #F05252;
--palette-red-600: #E02424;
--palette-red-700: #C81E1E;
--palette-red-800: #9B1C1C;
--palette-red-900: #771D1D;
--palette-teal-50: #EDFAFA;
--palette-teal-100: #D5F5F6;
--palette-teal-200: #AFECEF;
--palette-teal-300: #7EDCE2;
--palette-teal-400: #16BDCA;
--palette-teal-500: #0694A2;
--palette-teal-600: #047481;
--palette-teal-700: #036672;
--palette-teal-800: #05505C;
--palette-teal-900: #014451;
--palette-yellow-50: #FDFDEA;
--palette-yellow-100: #FDF6B2;
--palette-yellow-200: #FCE96A;
--palette-yellow-300: #FACA15;
--palette-yellow-400: #E3A008;
--palette-yellow-500: #C27803;
--palette-yellow-600: #9F580A;
--palette-yellow-700: #8E4B10;
--palette-yellow-800: #723B13;
--palette-yellow-900: #633112;
--palette-mint-50: #F0FDFA;
--palette-mint-100: #CCFBF1;
--palette-mint-200: #99F6E4;
--palette-mint-300: #5EEAD4;
--palette-mint-400: #2DD4BF;
--palette-mint-500: #14B8A6;
--palette-mint-600: #0d9485;
--palette-mint-700: #0f766b;
--palette-mint-800: #115e56;
--palette-mint-900: #134e48;
--palette-lime-50: #F7FEE7;
--palette-lime-100: #ECFCCB;
--palette-lime-200: #D9F99D;
--palette-lime-300: #BEF264;
--palette-lime-400: #A3E635;
--palette-lime-500: #84CC16;
--palette-lime-600: #65A30D;
--palette-lime-700: #4D7C0F;
--palette-lime-800: #426212;
--palette-lime-900: #3a5314;
--palette-bronze-50: #F7F3EF;
--palette-bronze-100: #EBE2D6;
--palette-bronze-200: #D8C6B0;
--palette-bronze-300: #C1A383;
--palette-bronze-400: #AE8761;
--palette-bronze-500: #A07553;
--palette-bronze-600: #895E45;
--palette-bronze-700: #6E493A;
--palette-bronze-800: #5E3E35;
--palette-bronze-900: #523731;
--palette-magenta-50: #FDF4FF;
--palette-magenta-100: #FAE8FF;
--palette-magenta-200: #F5D0FE;
--palette-magenta-300: #F0ABFC;
--palette-magenta-400: #E879F9;
--palette-magenta-500: #D946EF;
--palette-magenta-600: #C026D3;
--palette-magenta-700: #A21CAF;
--palette-magenta-800: #86198F;
--palette-magenta-900: #701A75;
--palette-cyan-50: #EDFFFE;
--palette-cyan-100: #C0FEFF;
--palette-cyan-200: #81FBFF;
--palette-cyan-300: #3AF8FF;
--palette-cyan-400: #00FFFF;
--palette-cyan-500: #00E1E2;
--palette-cyan-600: #00B2B7;
--palette-cyan-700: #008C91;
--palette-cyan-800: #006C72;
--palette-cyan-900: #04585D;
--palette-scarlet-50: #FFEEEE;
--palette-scarlet-100: #FFDADA;
--palette-scarlet-200: #FFBBBB;
--palette-scarlet-300: #FF8B8B;
--palette-scarlet-400: #FF4949;
--palette-scarlet-500: #FF1111;
--palette-scarlet-600: #FF0000;
--palette-scarlet-700: #E70000;
--palette-scarlet-800: #BE0000;
--palette-scarlet-900: #8B0000;
--palette-crimson-50: #FFF0F2;
--palette-crimson-100: #FFE3E4;
--palette-crimson-200: #FFCBD1;
--palette-crimson-300: #FFA0AA;
--palette-crimson-400: #FF6B7E;
--palette-crimson-500: #FB3855;
--palette-crimson-600: #DC143C;
--palette-crimson-700: #C50B34;
--palette-crimson-800: #A50C33;
--palette-crimson-900: #8D0E33;
--modals-0: 0px 2px 8px -1px #00000014, 0px 0px 0px 1px #00000014;
--modals-1-x: 0;
--modals-1-y: 1;
--modals-1-blur: 2;
--modals-1-spread: -1;
--modals-1-color: #00000014;
--modals-1-type: dropShadow;
--modals-2: 0px 4px 16px -2px #00000014, 0px 0px 1px 1px #00000014;
--modals-3: 0px 6px 24px -3px #00000014, 0px 0px 1px 1px #00000014;
--modals-4: 0px 8px 32px -4px #00000014, 0px 0px 1px 1px #00000014;
--modals-5: 0px 10px 40px -5px #00000014, 0px 0px 1px 1px #00000014;
--bottom_sheet-1: 0px -2px 8px -1px #00000014, 0px 0px 0px 1px #00000014;
--bottom_sheet-2: 0px -4px 16px -2px #00000014, 0px 0px 1px 1px #00000014;
--bottom_sheet-3: 0px -6px 24px -3px #00000014, 0px 0px 1px 1px #00000014;
--bottom_sheet-4: 0px -8px 32px -4px #00000014, 0px 0px 1px 1px #00000014;
--bottom_sheet-5: 0px -10px 40px -5px #00000014, 0px 0px 1px 1px #00000014;
--opacity-0: 0%;
--opacity-4: 4%;
--opacity-8: 8%;
--opacity-12: 12%;
--opacity-16: 16%;
--opacity-25: 25%;
--opacity-45: 45%;
--opacity-65: 65%;
--opacity-85: 85%;
--opacity-100: 100%;
--spacing-0: 0px;
--spacing-2: 2px;
--spacing-4: 4px;
--spacing-8: 8px;
--spacing-12: 12px;
--spacing-16: 16px;
--spacing-20: 20px;
--spacing-24: 24px;
--spacing-32: 32px;
--spacing-40: 40px;
--spacing-48: 48px;
--spacing-56: 56px;
--spacing-64: 64px;
--spacing-72: 72px;
--spacing-80: 80px;
--spacing-96: 96px;
--corner_radius-0: 0px;
--corner_radius-4: 4px;
--corner_radius-8: 8px;
--corner_radius-12: 12px;
--corner_radius-16: 16px;
--corner_radius-24: 24px;
--corner_radius-32: 32px;
--corner_radius-40: 40px;
--thickness-0: 0px;
--thickness-1: 1px;
--thickness-2: 2px;
--thickness-4: 4px;
--font_family-inter: 'Inter',sans-serif;
--font_family-articulat: 'Articulat CF',sans-serif;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--line_height-100: 100%;
--line_height-110: 110%;
--line_height-120: 120%;
--line_height-130: 130%;
--line_height-135: 135%;
--line_height-140: 140%;
--line_height-145: 145%;
--line_height-150: 150%;
--line_height-155: 155%;
--line_height-160: 160%;
--line_height-170: 170%;
--font_size-10: 10px;
--font_size-12: 12px;
--font_size-14: 14px;
--font_size-16: 16px;
--font_size-18: 18px;
--font_size-20: 20px;
--font_size-24: 24px;
--font_size-28: 28px;
--font_size-32: 32px;
--font_size-36: 36px;
--font_size-40: 40px;
--font_size-48: 48px;
--font_size-56: 56px;
--sizing-2: 2px;
--sizing-4: 4px;
--sizing-8: 8px;
--sizing-12: 12px;
--sizing-16: 16px;
--sizing-18: 18px;
--sizing-20: 20px;
--sizing-24: 24px;
--sizing-32: 32px;
--sizing-40: 40px;
--sizing-48: 48px;
--sizing-56: 56px;
--sizing-64: 64px;
--sizing-72: 72px;
--sizing-80: 80px;
--case-upper: uppercase;
--case-lower: lowercase;
--case-capitalize: capitalize;
--case-none: none;
--display-h1-fontFamily: 'Articulat CF',sans-serif;
--display-h1-fontWeight: 700;
--display-h1-lineHeight: 120%;
--display-h1-fontSize: 56px;
--display-h1-textCase: none;
--display-h2-fontFamily: 'Articulat CF',sans-serif;
--display-h2-fontWeight: 700;
--display-h2-lineHeight: 130%;
--display-h2-fontSize: 40px;
--display-h2-textCase: none;
--display-h3-fontFamily: 'Articulat CF',sans-serif;
--display-h3-fontWeight: 700;
--display-h3-lineHeight: 130%;
--display-h3-fontSize: 32px;
--display-h3-textCase: none;
--display-h4-fontFamily: 'Articulat CF',sans-serif;
--display-h4-fontWeight: 600;
--display-h4-lineHeight: 130%;
--display-h4-fontSize: 28px;
--display-h4-textCase: none;
--display-h5-fontFamily: 'Articulat CF',sans-serif;
--display-h5-fontWeight: 600;
--display-h5-lineHeight: 150%;
--display-h5-fontSize: 20px;
--display-h5-textCase: none;
--display-h6-fontFamily: 'Articulat CF',sans-serif;
--display-h6-fontWeight: 500;
--display-h6-fontStyle: italic;
--display-h6-lineHeight: 120%;
--display-h6-fontSize: 20px;
--display-h6-textCase: uppercase;
--headline-h1-fontFamily: 'Inter',sans-serif;
--headline-h1-fontWeight: 700;
--headline-h1-lineHeight: 100%;
--headline-h1-fontSize: 32px;
--headline-h2-fontFamily: 'Inter',sans-serif;
--headline-h2-fontWeight: 700;
--headline-h2-lineHeight: 100%;
--headline-h2-fontSize: 24px;
--headline-h3-fontFamily: 'Inter',sans-serif;
--headline-h3-fontWeight: 700;
--headline-h3-lineHeight: 100%;
--headline-h3-fontSize: 20px;
--headline-h4-fontFamily: 'Inter',sans-serif;
--headline-h4-fontWeight: 700;
--headline-h4-lineHeight: 100%;
--headline-h4-fontSize: 16px;
--headline-h5-fontFamily: 'Inter',sans-serif;
--headline-h5-fontWeight: 700;
--headline-h5-lineHeight: 100%;
--headline-h5-fontSize: 14px;
--headline-h6-fontFamily: 'Inter',sans-serif;
--headline-h6-fontWeight: 600;
--headline-h6-lineHeight: 100%;
--headline-h6-fontSize: 12px;
--body-paragraph-fontFamily: 'Inter',sans-serif;
--body-paragraph-fontWeight: 400;
--body-paragraph-lineHeight: 170%;
--body-paragraph-fontSize: 16px;
--body-quote-fontFamily: 'Inter',sans-serif;
--body-quote-fontWeight: 400;
--body-quote-fontSize: 24px;
--body-quote-lineHeight: 150%;
--font-page_title_large-fontFamily: 'Inter',sans-serif;
--font-page_title_large-fontWeight: 700;
--font-page_title_large-fontSize: 24px;
--font-page_title_large-lineHeight: 150%;
--font-page_title-fontFamily: 'Inter',sans-serif;
--font-page_title-fontWeight: 700;
--font-page_title-fontSize: 20px;
--font-page_title-lineHeight: 160%;
--font-page_title_thin-fontFamily: 'Inter',sans-serif;
--font-page_title_thin-fontWeight: 500;
--font-page_title_thin-lineHeight: 160%;
--font-page_title_thin-fontSize: 20px;
--font-page_subtitle-fontFamily: 'Inter',sans-serif;
--font-page_subtitle-fontWeight: 400;
--font-page_subtitle-lineHeight: 145%;
--font-page_subtitle-fontSize: 14px;
--font-section_title-fontFamily: 'Inter',sans-serif;
--font-section_title-fontWeight: 400;
--font-section_title-fontSize: 16px;
--font-section_title-lineHeight: 150%;
--font-item_title-fontFamily: 'Inter',sans-serif;
--font-item_title-fontWeight: 600;
--font-item_title-fontSize: 14px;
--font-item_title-lineHeight: 160%;
--font-modal_title-fontFamily: 'Inter',sans-serif;
--font-modal_title-fontWeight: 700;
--font-modal_title-fontSize: 18px;
--font-modal_title-lineHeight: 130%;
--font-card_title-fontFamily: 'Inter',sans-serif;
--font-card_title-fontWeight: 600;
--font-card_title-fontSize: 16px;
--font-card_title-lineHeight: 150%;
--font-card_title_highlight-fontFamily: 'Inter',sans-serif;
--font-card_title_highlight-fontWeight: 700;
--font-card_title_highlight-fontSize: 24px;
--font-card_title_highlight-lineHeight: 140%;
--font-card_title_highlight_small-fontFamily: 'Inter',sans-serif;
--font-card_title_highlight_small-fontWeight: 700;
--font-card_title_highlight_small-fontSize: 18px;
--font-card_title_highlight_small-lineHeight: 140%;
--font-card_description-fontFamily: 'Inter',sans-serif;
--font-card_description-fontWeight: 400;
--font-card_description-fontSize: 14px;
--font-card_description-lineHeight: 150%;
--font-label-fontFamily: 'Inter',sans-serif;
--font-label-fontWeight: 600;
--font-label-fontSize: 12px;
--font-label-lineHeight: 130%;
--font-button_label-fontFamily: 'Inter',sans-serif;
--font-button_label-fontWeight: 600;
--font-button_label-fontSize: 14px;
--font-button_label-lineHeight: 170%;
--font-badge_label-fontFamily: 'Inter',sans-serif;
--font-badge_label-fontWeight: 700;
--font-badge_label-fontSize: 10px;
--font-badge_label-lineHeight: 160%;
--font-tab_label-fontFamily: 'Inter',sans-serif;
--font-tab_label-fontWeight: 600;
--font-tab_label-fontSize: 12px;
--font-tab_label-lineHeight: 130%;
--font-list_item-fontFamily: 'Inter',sans-serif;
--font-list_item-fontWeight: 400;
--font-list_item-fontSize: 14px;
--font-list_item-lineHeight: 170%;
--font-description-fontFamily: 'Inter',sans-serif;
--font-description-fontWeight: 400;
--font-description-fontSize: 12px;
--font-description-lineHeight: 130%;
--font-meta_thin-fontFamily: 'Inter',sans-serif;
--font-meta_thin-fontWeight: 400;
--font-meta_thin-fontSize: 12px;
--font-meta_thin-lineHeight: 130%;
--font-meta_medium-fontFamily: 'Inter',sans-serif;
--font-meta_medium-fontWeight: 600;
--font-meta_medium-fontSize: 12px;
--font-meta_medium-lineHeight: 130%;
--font-helper_text-fontFamily: 'Inter',sans-serif;
--font-helper_text-fontWeight: 400;
--font-helper_text-fontSize: 12px;
--font-helper_text-lineHeight: 130%;
--font-pill-fontFamily: 'Inter',sans-serif;
--font-pill-fontWeight: 700;
--font-pill-lineHeight: 120%;
--font-pill-fontSize: 10px;
--font-pill-textCase: uppercase;
--font-pill-letterSpacing: 1;
--background-default: #FAFAFA;
--background-accent: #FFFFFF;
--background-neutral: #D4D4D840;
--background-informative: #9061F914;
--background-success: #31C48D14;
--background-caution: #FACA1514;
--background-error: #F0525214;
--background-warning: #FF8A4C14;
--background-color: #FFEEEE73;
--background-color_ghost: #FF11111f;
--background-tolltip: #3F3F46;
--background-blank_avatar: #F4F4F5;
--background-blur_gradiente: linear-gradient(180deg, 255fe01 0%, 255fe01 100%);
--background-color_mark: #FF111129;
--background-progress-bar: #FF1111;
--text-primary: #3F3F46;
--text-secondary: #52525B;
--text-tertiary: #71717A;
--text-inverse: #FAFAFA;
--text-active: #FF1111;
--text-informative: #7E3AF2;
--text-informative_accent: #6C2BD9;
--text-success: #057A55;
--text-success_accent: #046C4E;
--text-caution: #C27803;
--text-caution_accent: #9F580A;
--text-warning: #FF5A1F;
--text-warning_accent: #D03801;
--text-error: #E02424;
--text-error_accent: #C81E1E;
--text-money: #0E9F6E;
--text-mark: #8B0000;
--links-default: #FF1111;
--links-pressed: #FF0000;
--icons-default: #71717A;
--icons-default_bg: #71717A1f;
--icons-accent: #52525B;
--icons-inverse: #FAFAFA;
--icons-active: #FF1111;
--icons-informative_bg: #9061F91f;
--icons-informative_accent: #6C2BD9;
--icons-informative_accent_bg: #6C2BD91f;
--icons-success: #0E9F6E;
--icons-success_bg: #0E9F6E1f;
--icons-success_accent: #046C4E;
--icons-success_accent_bg: #046C4E1f;
--icons-caution: #C27803;
--icons-caution_bg: #FACA151f;
--icons-caution_accent: #9F580A;
--icons-caution_accent_bg: #9F580A1f;
--icons-warning: #FF5A1F;
--icons-warning_bg: #FF5A1F14;
--icons-warning_accent: #D03801;
--icons-warning_accent_bg: #D038011f;
--icons-error: #F05252;
--icons-error_bg: #F0525214;
--icons-error_accent: #C81E1E;
--icons-error_accent_bg: #C81E1E1f;
--icons-check_list: #31C48D;
--buttons-solid_default: #FF1111;
--buttons-ghost_bg: #52525B14;
--buttons-ghost_bg-color: #FF11111f;
--buttons-label: #52525B;
--buttons-label_inverse: #FAFAFA;
--buttons-sliders: #FAFAFA;
--buttons-disabled: #E4E4E7;
--buttons-label_color: #FF0000;
--buttons-destructive: #F05252;
--badge-counter_text: #71717A;
--badge-counter_bg: #A1A1AA29;
--badge-new_text: #057A55;
--badge-new_bg: #0E9F6E1f;
--badge-disabled_text: #C27803;
--badge-disabled_bg: #FACA151f;
--badge-opicional_text: #057A55;
--badge-opicional_bg: #E7469429;
--badge-assinatura_text: #7E3AF2;
--badge-assinatura_bg: #9061F929;
--badge-unico_text: #1C64F2;
--badge-unico_bg: #3F83F829;
--badge-beta-text: #0694A2;
--badge-soon-text: #047481;
--badge-soon_bg: #16BDCA1f;
--badge-live-text: #F05252;
--badge-suspended_text: #E02424;
--badge-suspended-bg: #F980801f;
--badge-upgrade_text: #FAFAFA;
--badge-upgrade_bg: #0E9F6E;
--badge-admin: #D61F69;
--border-divider-color: #E4E4E7;
--border-divider-width: 1px;
--border-divider-style: solid;
--border-input_default-color: #E4E4E7;
--border-input_default-width: 1px;
--border-input_default-style: solid;
--border-input_hover-color: #A1A1AA;
--border-input_hover-width: 1px;
--border-input_hover-style: solid;
--border-input_invalid-color: #F05252;
--border-input_invalid-width: 1px;
--border-input_invalid-style: solid;
--border-input_valid-color: #31C48D;
--border-input_valid-width: 1px;
--border-input_valid-style: solid;
--border-input_filled-color: #FF1111;
--border-input_filled-width: 1px;
--border-input_filled-style: solid;
--border-button_outlined-color: #D4D4D8;
--border-button_outlined-width: 1px;
--border-button_outlined-style: solid;
--border-pill_outlined-color: #D4D4D8;
--border-pill_outlined-width: 1px;
--border-pill_outlined-style: solid;
--border-item_menu-color: #E4E4E773;
--border-item_menu-width: 1px;
--border-item_menu-style: solid;
--border-badge_beta-color: #16BDCA40;
--border-badge_beta-width: 1px;
--border-badge_beta-style: solid;
--border-badge_live-color: #F0525240;
--border-badge_live-width: 1px;
--border-badge_live-style: solid;
--border-cards-color: #3F3F4614;
--border-cards-width: 1px;
--border-cards-style: solid;
--border-drop_zone-color: #A1A1AAa6;
--border-drop_zone-width: 2;
--border-drop_zone-style: dashed;
--border-drop_zone-actived-color: #9061F973;
--border-drop_zone-actived-width: 2;
--border-drop_zone-actived-style: dashed;
--border-text_decorative-color: #A1A1AA;
--border-text_decorative-width: 1px;
--border-text_decorative-style: solid;
--border-card_banner-color: 255fe01;
--border-card_banner-width: 4px;
--border-card_banner-style: solid;
--banner-default_bg: #047481;
--banner-text_default: #047481;
--tabs-bottom_line: #FF1111;
--tabs-label_actived: #FF0000;
--tabs-bottom_line_hover: #71717A639c;
--tabs-fade_gradient: linear-gradient(180deg, #3F3F46 0%, 633ec1 100%);
--tabs-label: #52525B;
--tabs-bg_neutro:  #71717A0a;
--pill-default: #71717A14;
--pill-react_actived: #FF49491f;
--pill-label_default: #71717A;
--pill-label_default-hovered: #52525B;
--pill-label_actived: #FF1111;
--pill-label_actived_hovered: #FF0000;
--nesting-tracking: #E4E4E7;
--button-hover-x: 0;
--button-hover-y: 0;
--button-hover-blur: 0;
--button-hover-spread: 3;
--button-hover-color: #71717A1f;
--button-hover-type: dropShadow;
--button-hover-solid-x: 0;
--button-hover-solid-y: 0;
--button-hover-solid-blur: 0;
--button-hover-solid-spread: 3;
--button-hover-solid-color: #FF111140;
--button-hover-solid-type: dropShadow;
--list-hover: #71717A14;
--list-actived: #FF111114;
--list-label_default: #71717A;
--list-label_actived: #FF0000;
--chart-teal: linear-gradient(270deg,  #0694A200 0%,  #0694A200 100%);
--chart-purple: linear-gradient(270deg,  #9061F900 0%,  #9061F900 100%);
--chart-teal_bg:  #16BDCA1f;
--chart-purple_bg:  #AC94FA1f;
--chart-needle:  #3F3F4640;
--chart-dot_teal: #16BDCA;
--chart-dot_purple: #AC94FA;
--chart-bars:  #3F83F873;
--chart-bars_2:  #3F83F829;
--chart-bars_3:  #3F83F814;
--paywall-value-0: undefined;
--paywall-value-1: undefined;
--paywall-type-0: undefined;
--paywall-type-1: undefined;
--paywall-type-2: undefined;
--paywall-type-3: undefined;
--paywall-type-4: undefined;
--paywall-type-5: undefined;
--paywall-type-6: undefined;
--paywall-type-7: undefined;
--paywall-type-8: undefined;
}