@import "./pingbackLightMode.scss";
@import "./pingbackDarkMode.scss";

$palette-gradiente-1: var(--palette-gradiente-1);
$palette-gradiente-2: var(--palette-gradiente-2);
$palette-gradiente-3: var(--palette-gradiente-3);
$palette-gradiente-active_menu: var(--palette-gradiente-active_menu);
$palette-neutral-white: var(--palette-neutral-white);
$palette-neutral-black: var(--palette-neutral-black);
$palette-blue-50: var(--palette-blue-50);
$palette-blue-100: var(--palette-blue-100);
$palette-blue-200: var(--palette-blue-200);
$palette-blue-300: var(--palette-blue-300);
$palette-blue-400: var(--palette-blue-400);
$palette-blue-500: var(--palette-blue-500);
$palette-blue-600: var(--palette-blue-600);
$palette-blue-700: var(--palette-blue-700);
$palette-blue-800: var(--palette-blue-800);
$palette-blue-900: var(--palette-blue-900);
$palette-gray-50: var(--palette-gray-50);
$palette-gray-100: var(--palette-gray-100);
$palette-gray-200: var(--palette-gray-200);
$palette-gray-300: var(--palette-gray-300);
$palette-gray-400: var(--palette-gray-400);
$palette-gray-500: var(--palette-gray-500);
$palette-gray-600: var(--palette-gray-600);
$palette-gray-700: var(--palette-gray-700);
$palette-gray-800: var(--palette-gray-800);
$palette-gray-900: var(--palette-gray-900);
$palette-green-50: var(--palette-green-50);
$palette-green-100: var(--palette-green-100);
$palette-green-200: var(--palette-green-200);
$palette-green-300: var(--palette-green-300);
$palette-green-400: var(--palette-green-400);
$palette-green-500: var(--palette-green-500);
$palette-green-600: var(--palette-green-600);
$palette-green-700: var(--palette-green-700);
$palette-green-800: var(--palette-green-800);
$palette-green-900: var(--palette-green-900);
$palette-orange-50: var(--palette-orange-50);
$palette-orange-100: var(--palette-orange-100);
$palette-orange-200: var(--palette-orange-200);
$palette-orange-300: var(--palette-orange-300);
$palette-orange-400: var(--palette-orange-400);
$palette-orange-500: var(--palette-orange-500);
$palette-orange-600: var(--palette-orange-600);
$palette-orange-700: var(--palette-orange-700);
$palette-orange-800: var(--palette-orange-800);
$palette-orange-900: var(--palette-orange-900);
$palette-pink-50: var(--palette-pink-50);
$palette-pink-100: var(--palette-pink-100);
$palette-pink-200: var(--palette-pink-200);
$palette-pink-300: var(--palette-pink-300);
$palette-pink-400: var(--palette-pink-400);
$palette-pink-500: var(--palette-pink-500);
$palette-pink-600: var(--palette-pink-600);
$palette-pink-700: var(--palette-pink-700);
$palette-pink-800: var(--palette-pink-800);
$palette-pink-900: var(--palette-pink-900);
$palette-purple-50: var(--palette-purple-50);
$palette-purple-100: var(--palette-purple-100);
$palette-purple-200: var(--palette-purple-200);
$palette-purple-300: var(--palette-purple-300);
$palette-purple-400: var(--palette-purple-400);
$palette-purple-500: var(--palette-purple-500);
$palette-purple-600: var(--palette-purple-600);
$palette-purple-700: var(--palette-purple-700);
$palette-purple-800: var(--palette-purple-800);
$palette-purple-900: var(--palette-purple-900);
$palette-red-50: var(--palette-red-50);
$palette-red-100: var(--palette-red-100);
$palette-red-200: var(--palette-red-200);
$palette-red-300: var(--palette-red-300);
$palette-red-400: var(--palette-red-400);
$palette-red-500: var(--palette-red-500);
$palette-red-600: var(--palette-red-600);
$palette-red-700: var(--palette-red-700);
$palette-red-800: var(--palette-red-800);
$palette-red-900: var(--palette-red-900);
$palette-teal-50: var(--palette-teal-50);
$palette-teal-100: var(--palette-teal-100);
$palette-teal-200: var(--palette-teal-200);
$palette-teal-300: var(--palette-teal-300);
$palette-teal-400: var(--palette-teal-400);
$palette-teal-500: var(--palette-teal-500);
$palette-teal-600: var(--palette-teal-600);
$palette-teal-700: var(--palette-teal-700);
$palette-teal-800: var(--palette-teal-800);
$palette-teal-900: var(--palette-teal-900);
$palette-yellow-50: var(--palette-yellow-50);
$palette-yellow-100: var(--palette-yellow-100);
$palette-yellow-200: var(--palette-yellow-200);
$palette-yellow-300: var(--palette-yellow-300);
$palette-yellow-400: var(--palette-yellow-400);
$palette-yellow-500: var(--palette-yellow-500);
$palette-yellow-600: var(--palette-yellow-600);
$palette-yellow-700: var(--palette-yellow-700);
$palette-yellow-800: var(--palette-yellow-800);
$palette-yellow-900: var(--palette-yellow-900);
$modals-0: var(--modals-0);
$modals-1: var(--modals-1);
$modals-2: var(--modals-2);
$modals-3: var(--modals-3);
$modals-4: var(--modals-4);
$modals-5: var(--modals-5);
$bottom_sheet-1: var(--bottom_sheet-1);
$bottom_sheet-2: var(--bottom_sheet-2);
$bottom_sheet-3: var(--bottom_sheet-3);
$bottom_sheet-4: var(--bottom_sheet-4);
$bottom_sheet-5: var(--bottom_sheet-5);
$opacity-0: var(--opacity-0);
$opacity-4: var(--opacity-4);
$opacity-8: var(--opacity-8);
$opacity-12: var(--opacity-12);
$opacity-16: var(--opacity-16);
$opacity-25: var(--opacity-25);
$opacity-45: var(--opacity-45);
$opacity-65: var(--opacity-65);
$opacity-85: var(--opacity-85);
$opacity-100: var(--opacity-100);
$spacing-0: var(--spacing-0);
$spacing-2: var(--spacing-2);
$spacing-4: var(--spacing-4);
$spacing-8: var(--spacing-8);
$spacing-12: var(--spacing-12);
$spacing-16: var(--spacing-16);
$spacing-20: var(--spacing-20);
$spacing-24: var(--spacing-24);
$spacing-32: var(--spacing-32);
$spacing-40: var(--spacing-40);
$spacing-48: var(--spacing-48);
$spacing-56: var(--spacing-56);
$spacing-64: var(--spacing-64);
$spacing-72: var(--spacing-72);
$spacing-80: var(--spacing-80);
$spacing-96: var(--spacing-96);
$corner_radius-0: var(--corner_radius-0);
$corner_radius-4: var(--corner_radius-4);
$corner_radius-8: var(--corner_radius-8);
$corner_radius-12: var(--corner_radius-12);
$corner_radius-16: var(--corner_radius-16);
$corner_radius-24: var(--corner_radius-24);
$corner_radius-32: var(--corner_radius-32);
$corner_radius-40: var(--corner_radius-40);
$thickness-0: var(--thickness-0);
$thickness-1: var(--thickness-1);
$thickness-2: var(--thickness-2);
$thickness-4: var(--thickness-4);
$font_family-inter: var(--font_family-inter);
$font_family-articulat: var(--font_family-articulat);
$weight-400: var(--weight-400);
$weight-500: var(--weight-500);
$weight-600: var(--weight-600);
$weight-700: var(--weight-700);
$line_height-100: var(--line_height-100);
$line_height-110: var(--line_height-110);
$line_height-120: var(--line_height-120);
$line_height-130: var(--line_height-130);
$line_height-135: var(--line_height-135);
$line_height-140: var(--line_height-140);
$line_height-145: var(--line_height-145);
$line_height-150: var(--line_height-150);
$line_height-155: var(--line_height-155);
$line_height-160: var(--line_height-160);
$line_height-170: var(--line_height-170);
$font_size-10: var(--font_size-10);
$font_size-12: var(--font_size-12);
$font_size-14: var(--font_size-14);
$font_size-16: var(--font_size-16);
$font_size-18: var(--font_size-18);
$font_size-20: var(--font_size-20);
$font_size-24: var(--font_size-24);
$font_size-28: var(--font_size-28);
$font_size-32: var(--font_size-32);
$font_size-36: var(--font_size-36);
$font_size-40: var(--font_size-40);
$font_size-48: var(--font_size-48);
$font_size-56: var(--font_size-56);
$sizing-2: var(--sizing-2);
$sizing-4: var(--sizing-4);
$sizing-8: var(--sizing-8);
$sizing-12: var(--sizing-12);
$sizing-16: var(--sizing-16);
$sizing-18: var(--sizing-18);
$sizing-20: var(--sizing-20);
$sizing-24: var(--sizing-24);
$sizing-32: var(--sizing-32);
$sizing-40: var(--sizing-40);
$sizing-48: var(--sizing-48);
$sizing-56: var(--sizing-56);
$sizing-64: var(--sizing-64);
$sizing-72: var(--sizing-72);
$sizing-80: var(--sizing-80);
$case-upper: var(--case-upper);
$case-lower: var(--case-lower);
$case-capitalize: var(--case-capitalize);
$case-none: var(--case-none);
$display-h1-fontFamily: var(--display-h1-fontFamily);
$display-h1-fontWeight: var(--display-h1-fontWeight);
$display-h1-lineHeight: var(--display-h1-lineHeight);
$display-h1-fontSize: var(--display-h1-fontSize);
$display-h1-textCase: var(--display-h1-textCase);
$display-h2-fontFamily: var(--display-h2-fontFamily);
$display-h2-fontWeight: var(--display-h2-fontWeight);
$display-h2-lineHeight: var(--display-h2-lineHeight);
$display-h2-fontSize: var(--display-h2-fontSize);
$display-h2-textCase: var(--display-h2-textCase);
$display-h3-fontFamily: var(--display-h3-fontFamily);
$display-h3-fontWeight: var(--display-h3-fontWeight);
$display-h3-lineHeight: var(--display-h3-lineHeight);
$display-h3-fontSize: var(--display-h3-fontSize);
$display-h3-textCase: var(--display-h3-textCase);
$display-h4-fontFamily: var(--display-h4-fontFamily);
$display-h4-fontWeight: var(--display-h4-fontWeight);
$display-h4-lineHeight: var(--display-h4-lineHeight);
$display-h4-fontSize: var(--display-h4-fontSize);
$display-h4-textCase: var(--display-h4-textCase);
$display-h5-fontFamily: var(--display-h5-fontFamily);
$display-h5-fontWeight: var(--display-h5-fontWeight);
$display-h5-lineHeight: var(--display-h5-lineHeight);
$display-h5-fontSize: var(--display-h5-fontSize);
$display-h5-textCase: var(--display-h5-textCase);
$display-h6-fontFamily: var(--display-h6-fontFamily);
$display-h6-fontWeight: var(--display-h6-fontWeight);
$display-h6-fontStyle: var(--display-h6-fontStyle);
$display-h6-lineHeight: var(--display-h6-lineHeight);
$display-h6-fontSize: var(--display-h6-fontSize);
$display-h6-textCase: var(--display-h6-textCase);
$headline-h1-fontFamily: var(--headline-h1-fontFamily);
$headline-h1-fontWeight: var(--headline-h1-fontWeight);
$headline-h1-lineHeight: var(--headline-h1-lineHeight);
$headline-h1-fontSize: var(--headline-h1-fontSize);
$headline-h2-fontFamily: var(--headline-h2-fontFamily);
$headline-h2-fontWeight: var(--headline-h2-fontWeight);
$headline-h2-lineHeight: var(--headline-h2-lineHeight);
$headline-h2-fontSize: var(--headline-h2-fontSize);
$headline-h3-fontFamily: var(--headline-h3-fontFamily);
$headline-h3-fontWeight: var(--headline-h3-fontWeight);
$headline-h3-lineHeight: var(--headline-h3-lineHeight);
$headline-h3-fontSize: var(--headline-h3-fontSize);
$headline-h4-fontFamily: var(--headline-h4-fontFamily);
$headline-h4-fontWeight: var(--headline-h4-fontWeight);
$headline-h4-lineHeight: var(--headline-h4-lineHeight);
$headline-h4-fontSize: var(--headline-h4-fontSize);
$headline-h5-fontFamily: var(--headline-h5-fontFamily);
$headline-h5-fontWeight: var(--headline-h5-fontWeight);
$headline-h5-lineHeight: var(--headline-h5-lineHeight);
$headline-h5-fontSize: var(--headline-h5-fontSize);
$headline-h6-fontFamily: var(--headline-h6-fontFamily);
$headline-h6-fontWeight: var(--headline-h6-fontWeight);
$headline-h6-lineHeight: var(--headline-h6-lineHeight);
$headline-h6-fontSize: var(--headline-h6-fontSize);
$body-paragraph-fontFamily: var(--body-paragraph-fontFamily);
$body-paragraph-fontWeight: var(--body-paragraph-fontWeight);
$body-paragraph-lineHeight: var(--body-paragraph-lineHeight);
$body-paragraph-fontSize: var(--body-paragraph-fontSize);
$body-quote-fontFamily: var(--body-quote-fontFamily);
$body-quote-fontWeight: var(--body-quote-fontWeight);
$body-quote-fontSize: var(--body-quote-fontSize);
$body-quote-lineHeight: var(--body-quote-lineHeight);
$font-page_title_large-fontFamily: var(--font-page_title_large-fontFamily);
$font-page_title_large-fontWeight: var(--font-page_title_large-fontWeight);
$font-page_title_large-fontSize: var(--font-page_title_large-fontSize);
$font-page_title_large-lineHeight: var(--font-page_title_large-lineHeight);
$font-page_title-fontFamily: var(--font-page_title-fontFamily);
$font-page_title-fontWeight: var(--font-page_title-fontWeight);
$font-page_title-fontSize: var(--font-page_title-fontSize);
$font-page_title-lineHeight: var(--font-page_title-lineHeight);
$font-page_title_thin-fontFamily: var(--font-page_title_thin-fontFamily);
$font-page_title_thin-fontWeight: var(--font-page_title_thin-fontWeight);
$font-page_title_thin-lineHeight: var(--font-page_title_thin-lineHeight);
$font-page_title_thin-fontSize: var(--font-page_title_thin-fontSize);
$font-page_subtitle-fontFamily: var(--font-page_subtitle-fontFamily);
$font-page_subtitle-fontWeight: var(--font-page_subtitle-fontWeight);
$font-page_subtitle-lineHeight: var(--font-page_subtitle-lineHeight);
$font-page_subtitle-fontSize: var(--font-page_subtitle-fontSize);
$font-section_title-fontFamily: var(--font-section_title-fontFamily);
$font-section_title-fontWeight: var(--font-section_title-fontWeight);
$font-section_title-fontSize: var(--font-section_title-fontSize);
$font-section_title-lineHeight: var(--font-section_title-lineHeight);
$font-item_title-fontFamily: var(--font-item_title-fontFamily);
$font-item_title-fontWeight: var(--font-item_title-fontWeight);
$font-item_title-fontSize: var(--font-item_title-fontSize);
$font-item_title-lineHeight: var(--font-item_title-lineHeight);
$font-modal_title-fontFamily: var(--font-modal_title-fontFamily);
$font-modal_title-fontWeight: var(--font-modal_title-fontWeight);
$font-modal_title-fontSize: var(--font-modal_title-fontSize);
$font-modal_title-lineHeight: var(--font-modal_title-lineHeight);
$font-card_title-fontFamily: var(--font-card_title-fontFamily);
$font-card_title-fontWeight: var(--font-card_title-fontWeight);
$font-card_title-fontSize: var(--font-card_title-fontSize);
$font-card_title-lineHeight: var(--font-card_title-lineHeight);
$font-label-fontFamily: var(--font-label-fontFamily);
$font-label-fontWeight: var(--font-label-fontWeight);
$font-label-fontSize: var(--font-label-fontSize);
$font-label-lineHeight: var(--font-label-lineHeight);
$font-button_label-fontFamily: var(--font-button_label-fontFamily);
$font-button_label-fontWeight: var(--font-button_label-fontWeight);
$font-button_label-fontSize: var(--font-button_label-fontSize);
$font-button_label-lineHeight: var(--font-button_label-lineHeight);
$font-badge_label-fontFamily: var(--font-badge_label-fontFamily);
$font-badge_label-fontWeight: var(--font-badge_label-fontWeight);
$font-badge_label-fontSize: var(--font-badge_label-fontSize);
$font-badge_label-lineHeight: var(--font-badge_label-lineHeight);
$font-tab_label-fontFamily: var(--font-tab_label-fontFamily);
$font-tab_label-fontWeight: var(--font-tab_label-fontWeight);
$font-tab_label-fontSize: var(--font-tab_label-fontSize);
$font-tab_label-lineHeight: var(--font-tab_label-lineHeight);
$font-list_item-fontFamily: var(--font-list_item-fontFamily);
$font-list_item-fontWeight: var(--font-list_item-fontWeight);
$font-list_item-fontSize: var(--font-list_item-fontSize);
$font-list_item-lineHeight: var(--font-list_item-lineHeight);
$font-description-fontFamily: var(--font-description-fontFamily);
$font-description-fontWeight: var(--font-description-fontWeight);
$font-description-fontSize: var(--font-description-fontSize);
$font-description-lineHeight: var(--font-description-lineHeight);
$font-helper_text-fontFamily: var(--font-helper_text-fontFamily);
$font-helper_text-fontWeight: var(--font-helper_text-fontWeight);
$font-helper_text-fontSize: var(--font-helper_text-fontSize);
$font-helper_text-lineHeight: var(--font-helper_text-lineHeight);
$background-default: var(--background-default);
$background-accent: var(--background-accent);
$background-neutral: var(--background-neutral);
$background-informative: var(--background-informative);
$background-success: var(--background-success);
$background-caution: var(--background-caution);
$background-error: var(--background-error);
$background-warning: var(--background-warning);
$background-purple: var(--background-purple);
$background-purple_ghost: var(--background-purple_ghost);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$text-inverse: var(--text-inverse);
$text-active: var(--text-active);
$text-informative: var(--text-informative);
$text-informative_accent: var(--text-informative_accent);
$text-success: var(--text-success);
$text-success_accent: var(--text-success_accent);
$text-caution: var(--text-caution);
$text-caution_accent: var(--text-caution_accent);
$text-warning: var(--text-warning);
$text-warning_accent: var(--text-warning_accent);
$text-error: var(--text-error);
$text-error_accent: var(--text-error_accent);
$text-money: var(--text-money);
$links-default: var(--links-default);
$links-pressed: var(--links-pressed);
$icons-default: var(--icons-default);
$icons-default_bg: var(--icons-default_bg);
$icons-accent: var(--icons-accent);
$icons-inverse: var(--icons-inverse);
$icons-active: var(--icons-active);
$icons-informative_bg: var(--icons-informative_bg);
$icons-informative_accent: var(--icons-informative_accent);
$icons-informative_accent_bg: var(--icons-informative_accent_bg);
$icons-success: var(--icons-success);
$icons-success_bg: var(--icons-success_bg);
$icons-success_accent: var(--icons-success_accent);
$icons-success_accent_bg: var(--icons-success_accent_bg);
$icons-caution: var(--icons-caution);
$icons-caution_bg: var(--icons-caution_bg);
$icons-caution_accent: var(--icons-caution_accent);
$icons-caution_accent_bg: var(--icons-caution_accent_bg);
$icons-warning: var(--icons-warning);
$icons-warning_bg: var(--icons-warning_bg);
$icons-warning_accent: var(--icons-warning_accent);
$icons-warning_accent_bg: var(--icons-warning_accent_bg);
$icons-error: var(--icons-error);
$icons-error_bg: var(--icons-error_bg);
$icons-error_accent: var(--icons-error_accent);
$icons-error_accent_bg: var(--icons-error_accent_bg);
$buttons-solid_default: var(--buttons-solid_default);
$buttons-pressed: var(--buttons-pressed);
$buttons-ghost_bg: var(--buttons-ghost_bg);
$buttons-ghost_bg-purple: var(--buttons-ghost_bg-purple);
$buttons-label: var(--buttons-label);
$buttons-label_inverse: var(--buttons-label_inverse);
$buttons-sliders: var(--buttons-sliders);
$buttons-disabled: var(--buttons-disabled);
$buttons-label_purple: var(--buttons-label_purple);
$badge-counter_text: var(--badge-counter_text);
$badge-counter_bg: var(--badge-counter_bg);
$badge-new_text: var(--badge-new_text);
$badge-new_bg: var(--badge-new_bg);
$badge-beta-text: var(--badge-beta-text);
$badge-soon-text: var(--badge-soon-text);
$badge-soon_bg: var(--badge-soon_bg);
$badge-live-text: var(--badge-live-text);
$badge-suspended_text: var(--badge-suspended_text);
$badge-suspended-bg: var(--badge-suspended-bg);
$badge-upgrade_text: var(--badge-upgrade_text);
$badge-upgrade_bg: var(--badge-upgrade_bg);
$badge-admin: var(--badge-admin);
$border-divider-color: var(--border-divider-color);
$border-divider-width: var(--border-divider-width);
$border-divider-style: var(--border-divider-style);
$border-input_default-color: var(--border-input_default-color);
$border-input_default-width: var(--border-input_default-width);
$border-input_default-style: var(--border-input_default-style);
$border-input_hover-color: var(--border-input_hover-color);
$border-input_hover-width: var(--border-input_hover-width);
$border-input_hover-style: var(--border-input_hover-style);
$border-input_invalid-color: var(--border-input_invalid-color);
$border-input_invalid-width: var(--border-input_invalid-width);
$border-input_invalid-style: var(--border-input_invalid-style);
$border-input_valid-color: var(--border-input_valid-color);
$border-input_valid-width: var(--border-input_valid-width);
$border-input_valid-style: var(--border-input_valid-style);
$border-input_filled-color: var(--border-input_filled-color);
$border-input_filled-width: var(--border-input_filled-width);
$border-input_filled-style: var(--border-input_filled-style);
$border-button_outlined-color: var(--border-button_outlined-color);
$border-button_outlined-width: var(--border-button_outlined-width);
$border-button_outlined-style: var(--border-button_outlined-style);
$border-item_menu-color: var(--border-item_menu-color);
$border-item_menu-width: var(--border-item_menu-width);
$border-item_menu-style: var(--border-item_menu-style);
$border-badge_beta-color: var(--border-badge_beta-color);
$border-badge_beta-width: var(--border-badge_beta-width);
$border-badge_beta-style: var(--border-badge_beta-style);
$border-badge_live-color: var(--border-badge_live-color);
$border-badge_live-width: var(--border-badge_live-width);
$border-badge_live-style: var(--border-badge_live-style);
$border-cards-color: var(--border-cards-color);
$border-cards-width: var(--border-cards-width);
$border-cards-style: var(--border-cards-style);
$border-drop_zone-color: var(--border-drop_zone-color);
$border-drop_zone-width: var(--border-drop_zone-width);
$border-drop_zone-style: var(--border-drop_zone-style);
$border-drop_zone-actived-color: var(--border-drop_zone-actived-color);
$border-drop_zone-actived-width: var(--border-drop_zone-actived-width);
$border-drop_zone-actived-style: var(--border-drop_zone-actived-style);
$border-card_image-color: var(--border-card_image-color);
$border-card_image-width: var(--border-card_image-width);
$border-card_image-style: var(--border-card_image-style);
$banner-default_bg: var(--banner-default_bg);
$banner-text_default: var(--banner-text_default);
$tabs-bottom_line: var(--tabs-bottom_line);
$tabs-label_actived: var(--tabs-label_actived);
$tabs-bottom_line_hover: var(--tabs-bottom_line_hover);
$tabs-fade_gradient: var(--tabs-fade_gradient);
$tabs-label: var(--tabs-label);
$pill-react_default: var(--pill-react_default);
$pill-react_actived: var(--pill-react_actived);
$pill-label_default: var(--pill-label_default);
$pill-label_default-hovered: var(--pill-label_default-hovered);
$pill-label_actived: var(--pill-label_actived);
$pill-label_actived_hovered: var(--pill-label_actived_hovered);
$nesting-tracking: var(--nesting-tracking);
$button-hover: var(--button-hover);
